name: Molecule
on: [pull_request]

defaults:
  run:
    working-directory: dbrennand.autorestic

jobs:
  molecule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: dbrennand.autorestic
      - uses: gofrolist/molecule-action@v2
        with:
          molecule_working_dir: dbrennand.autorestic
          molecule_args: --all
